body{
background:#00f;
color:#fff;
border-left:10px solid #fff;
width:800px;
margin: 0 auto;
}
h1{
	font-size: 6rem;
	color: red;
}

#content{
	font-size: 4rem;

}
.post{

}
.block{
	width: 100px;
	height: 300px;
	background-color: red;
	float: left;
	margin: 20px;
	}
.block2{
	width: 100px;
	height: 400px;
	background-color: yellow;
	float: left;
	margin: 20px;
	}
.block3{
	width: 100px;
	height: 500px;
	background-color: blue;
	float: left;
	margin: 20px;
	}